header {
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lista-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-menu a {
  color: #001aff;
  margin-right: 5px;
  padding: 5px 10px;
  transition: 0.2s;
  font-size: 1.125rem;
}


.item-menu a:hover {
  background: #1e00fdff;
  color: #eee;
  border-radius: 2px;
}

@media (width <= 768px) {
  #lista-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    background-color: #ffffff;
    z-index: 1000;
  }

  .item-menu  {
    width: 100%;
    text-align: center;
  }

  #lista-menu.active {
    display: flex;
  }

  #hamburger {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }

  #hamburger div {
    width: 30px;
    height: 3px;
    margin: 6px 0;
    background-color: #333;
    transition: 0.4s;
  }

  #hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  #hamburger.active div:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
